<h1 class="text-center m-5">Dashboard</h1>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<button (click)="logOut()" class="btn btn-danger m-5">Log out</button>
<ul *ngFor="let user of users">
    <li>{{user.username}}</li>
</ul>