.outer{
    height: 100vh;
    background: linear-gradient(to top, rgb(69, 40, 117), #5f5fcf) no-repeat;
}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

.forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.form-inline a{
    padding-left: 10px;
    margin: 0;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel{
    min-height: 300px;
    box-shadow: 20px 20px 80px rgba($color: #38205f, $alpha: 0.6);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    color: #4343ff;
}

.input-field.error{
    border: 1px solid red;
    color:red;
}

input{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 36%;
    background-color: #fff;
    padding: 0 8px;
}